body {
  background-color: #d3e2ff;
}

.header {
  padding-top: 10px;
  display: flex;
  height: 58px;
}

h1 {
  margin: 0;
  font-size: 3.4em;
  color: #000;
}

#main {
  display: block;
}

.containers {
  display: flex;
  height: calc(100vh - 68px);
}

.container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.label {
  color: #000;
  font-size: 2em;
}

.textInput,
.textOutput {
  margin-top: 5px;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 7px 7px 5px #3a3a3a;
  border-radius: 6px;
}

#editor {
  font-family: Menlo, Monaco, monospace;
  font-size: 12px;
  outline: none;
  resize: none;
}

#preview {
  display: flex;
  background-color: #fff;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 30px auto 30px auto;
  font-size: 2em;
  color: #333;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #333;
}
