body {
  background-color: #ade1ff;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

.header {
  padding-top: 25px;
  display: flex;
  height: 58px;
}

.header h1 {
  margin: 0;
  font-size: 3.4em;
  color: #000;
}

#main {
  display: block;
}

.containers {
  display: flex;
  height: calc(100vh - 68px);
}

.container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.label {
  font-family: balto, helvetica, sans-serif;
  color: #4c4e4d;
  font-size: 2em;
}

.textInput,
.textOutput {
  margin-top: 5px;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 7px 7px 5px #3a3a3a;
  border-radius: 6px;
  background-color: #f4f4f4;
}

#editor {
  font-family: Menlo, Monaco, monospace;
  font-size: 1.2em;
  outline: none;
  resize: none;
}

#preview {
  font-size: 1.2em;
}

.footer {
  font-family: balto, helvetica, sans-serif;
  width: 450px;
  text-align: center;
  display: block;
  margin: 30px auto 30px auto;
  font-size: 2em;
  color: #4c4e4d;
}

.footer a {
  font-family: balto, helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #4c4e4d;
}

a:hover {
  color: #000;
}
